<a href="https://colab.research.google.com/github/shivram36/DS_Rproj/blob/main/VS_10_Hypothesis_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [ ]:
df = pd.read_csv("C:/Users/Vikas Srivastava/Desktop/ExcelR/Latest DS Material/Day 10-2 Proportion test and 2 sample t test/survey_data.csv")

In [ ]:
df.head()

    ID  Gender  location  type_of_service  month_-1  month_0  month_+1
0   70       0         1                1        61       82        50
1  121       1         2                3        65       73        68
2   86       0         3                1        47       49        63
3  141       0         3                3        76       48        42
4  172       0         2                2        72       97        35

In [ ]:
df['month_0'].mean()

71.32

In [ ]:
df['month_-1'].mean()

59.185

In [ ]:
df['month_+1'].mean()

58.3

#### One Sample T-Test

In [ ]:
### assume given mean = 50
## H0: mean for current month is 50

stats.ttest_1samp(df['month_0'], popmean= 50)

Ttest_1sampResult(statistic=18.714161260526144, pvalue=9.540794464037753e-46)

In [ ]:
df['month_0'].mean()

71.32

#### Two Sample T-Test (Paired)

In [ ]:
### H0: mean of both samples are same

stats.ttest_rel(df['month_-1'], df['month_+1'])

Ttest_relResult(statistic=0.61187183339573, pvalue=0.5413209857747188)

#### ANOVA

In [ ]:
df.head()

    ID  Gender  location  type_of_service  month_-1  month_0  month_+1
0   70       0         1                1        61       82        50
1  121       1         2                3        65       73        68
2   86       0         3                1        47       49        63
3  141       0         3                3        76       48        42
4  172       0         2                2        72       97        35

In [ ]:
df = df.rename(columns = {'month_0':'latest_month'})
df.head()

    ID  Gender  location  type_of_service  month_-1  latest_month  month_+1
0   70       0         1                1        61            82        50
1  121       1         2                3        65            73        68
2   86       0         3                1        47            49        63
3  141       0         3                3        76            48        42
4  172       0         2                2        72            97        35

In [ ]:
### find number of segments

df.type_of_service.value_counts()

2    105
3     50
1     45
Name: type_of_service, dtype: int64

In [ ]:
s1 = df.latest_month[df.type_of_service==1]
s2 = df.latest_month[df.type_of_service==2]
s3 = df.latest_month[df.type_of_service==3]

In [ ]:
stats.f_oneway(s1, s2, s3)

F_onewayResult(statistic=0.7492848874495168, pvalue=0.4740467323895884)

#### Chi-squre Test

In [ ]:
crosstable = pd.crosstab(df.type_of_service, df.location, margins = True)
crosstable

location          1   2   3  All
type_of_service
1                16  20   9   45
2                19  44  42  105
3                12  31   7   50
All              47  95  58  200

In [ ]:
stats.chi2_contingency(crosstable)

(16.60444164948934,
 0.055282939487992365,
 9,
 array([[ 10.575,  21.375,  13.05 ,  45.   ],
        [ 24.675,  49.875,  30.45 , 105.   ],
        [ 11.75 ,  23.75 ,  14.5  ,  50.   ],
        [ 47.   ,  95.   ,  58.   , 200.   ]]))